header.bs-docs-nav.navbar.navbar-static-top#top
    div.container
        div.navbar-header
            button.collapsed.navbar-toggle(aria-controls='bs-navbar' aria-expanded='false' data-target='#bs-navbar' data-toggle='collapse' type='button')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand.linked_color_black(href='/') Slyx
        nav.collapse.navbar-collapse#bs-navbar
            ul.nav.navbar-nav
                li
                    a.linked_color_black(href='/stats') Statistics
            ul.nav.navbar-nav.navbar-right
                li
                    a.linked_color_black(href='/sign') Sign In / Sign Up
                li
                    a.linked_color_black(href='https://github.com/AntoineJanvier/Slyx', target='_blank') GitHub