extends layout

block content
    include header
    section
        h1= title
        img(src="/images/slyx-logo.png")
        p Welcome to the Slyx website !
        hr
        div.container
            div.row
                img.col-md-6(src='/images/image_connection.png')
                img.col-md-6(src='/images/image_app.png')