doctype html
html
    head
        title rtc.io simple conferencing
        link(rel='stylesheet' href='http://yui.yahooapis.com/pure/0.5.0/pure-min.css')
        script(src="127.0.0.1:3000/javascripts/peer.min.js")
    body(class="pure-g")
        div.pure-u-1-5
            div#l-video
        div.pure-u-4-5#r-video
            - navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
            - var peer = new Peer({key: 'y4hmxzxfng7m0a4i'});
            - peer.on('open', function(id) {document.getElementsByTagName("body")[0].innerHTML += 'ID : ' + id;});
