#button_remove_contact {
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: linear-gradient(to bottom, #0a93ff 0, #0058c6 100%);
    -fx-effect:  dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
}

#button_call_contact {
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: linear-gradient(to bottom, #0cff08 0, #0ca508 100%);
    -fx-effect:  dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
}